<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">四则运算习题生成器</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 主页
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="setting">
                <span class="oi oi-cog" aria-hidden="true"></span> 设置
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="generator">
                <span class="oi oi-copywriting" aria-hidden="true"></span> 生成
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="printer">
                <span class="oi oi-print"></span> 打印
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="check">
                <span class="oi oi-check"></span> 批改
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> 关于
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
