@page "/about"

<h3>关于本应用</h3>
<p>四则运算习题生成器 <small>V 1.0.0</small></p>
<div class="card" id="developers">
    <div class="card-header"><span class="oi oi-list"></span> 开发人员</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="oi oi-chevron-right"></span> 许正正
                <span class="badge badge-info"><a href="https://jiafeimiao.top/" target="_blank">Blog</a></span>
            </li>
            <li class="list-group-item">
                <span class="oi oi-chevron-right"></span> 周照林
                <span class="badge badge-info"><a href="https://www.baidu.com" target="_blank">Blog</a></span>
            </li>
        </ul>
    </div>
</div>
<div class="card" id="conect">
    <div class="card-header"><span class="oi oi-list"></span> 联系我们</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="mailto:xuzhengzheng@outlook.com" target="_blank">
                    <span class="oi oi-envelope-open"></span> 邮箱1
                </a><br />
                <a href="mailto:1526066493@qq.com" target="_blank">
                    <span class="oi oi-envelope-open"></span> 邮箱2
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://github.com/JiaFeiMiao-K-Cat/ExercisesGenerator/issues" target="_blank">
                    <span class="oi oi-link-intact"></span> Github Issues
                </a>
            </li>
        </ul>
    </div>
</div>