@page "/about"

<h3>关于本应用</h3>
<p>四则运算习题生成器 <small>V 1.0.0</small></p>
<div class="card" id="developers">
    <h5><span class="oi oi-list"></span> 开发人员</h5>
    <ul class="list-group">
        <li class="list-group-item">
            许正正
            <span class="badge badge-info"><a href="https://jiafeimiao.top/" target="_blank">Blog</a></span>
        </li>
        <li class="list-group-item">
            周照林
            <span class="badge badge-info"><a href="https://www.baidu.com" target="_blank">Blog</a></span>
        </li>
    </ul>
</div>
<div class="card" id="conect">
    <h5><span class="oi oi-list"></span> 联系我们</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="mailto:xuzhengzheng@outlook.com" target="_blank">邮箱1</a><br />
            <a href="mailto:1526066493@qq.com" target="_blank">邮箱2</a>
        </li>
        <li class="list-group-item">
            <a href="https://www.baidu.com" target="_blank">Github Issues</a>
        </li>
    </ul>
</div>