@page "/"

<div class="jumbotron" style="font-family:Consolas">
    <h1>四则运算习题生成器</h1>
    <h3>一些约定</h3>
    <div class="card">
        <div class="card-header">
            <h5>运算和运算数</h5>
        </div>
        <div class="card-body">
            <p>对于运算, 仅支持 <b><code>加(+)、减(-)、乘(*)、除(/)</code></b> .</p>
            <p>对于运算数, 只有 <b>整数</b> 和 <b>分数</b> 两种, 其中, 运算数中的分数只能是真分数.</p>
            <p>对于分数的表示, 做出如下约定: 分数前加 <b>_</b> , 以 <b>~</b> 代替 <b>/</b> 从而与除法区分. </p>
            <p>此外: 对于带分数, 整数部分与分数部分用 <b>U</b> 连接.</p>
            <ul class="list-group">
                <li class="list-group-item">示例 1: <code>_1~2</code> , <sup>1</sup>~<sub>2</sub>, 二分之一</li>
                <li class="list-group-item">示例 1: <code>15U_1~2</code> , 15<sup>1</sup>~<sub>2</sub>, 十五又二分之一</li>
            </ul>
        </div>
        <div class="card-header">
            <h5>范围比较</h5>
        </div>
        <div class="card-body">
            <p>设置的范围是针对整个运算过程而言的, 即: 不论是 <b>运算数</b>、运算过程中产生的<b>中间数</b>还是<b>最终结果</b>, 均应该处于设置的范围内.</p>
            <p>对于分数的范围判断, 不考虑通分等运算过程中产生的数值范围, 仅对 <b>运算结果</b> 进行判断.</p>
            <p>运算中产生的假分数, 转化成带分数形式, 整数部分和分数部分分别进行判断.</p>
        </div>
        <div class="card-header">
            <h5>重复的定义</h5>
        </div>
        <div class="card-body">
            <p>采用表达式树作为判断依据, 若两个表达式对应的表达式树能通过左右子树的交换相互转化, 即认为这两个表达式是重复的, 否则, 认定为不重复.</p>
        </div>
    </div>
    <h3>一些建议</h3>
    <div class="card">
        <div class="card-header">
            <h5>设置</h5>
        </div>
        <div class="card-body">
            <p>考虑到等待时间可能会很长, 习题数量不宜设置的过大.</p>
            <p>当习题数量变大时, 应当适当放宽数值范围, 否则可能导致等待时间过长或崩溃.</p>
        </div>
    </div>
</div>
